<a href="https://github.com/christopheralcock/haiku_machine/blob/master/README.md">Here is a link that kind of explains what this does if it's not obvious</a>

<form method='post' action='/clear_dictionary'>
  <input class="button" type='submit' value='clear dictionary'>
</form>


<p>Please tell me a phrase you want to incorporate in your lyrics:</p>



<form method='post' action='/add_to_dictionary'>
  Phrase:
  <input type="text" name="phrase" placeholder="eg. I was born under a wandering star">
  How many syllables you pronounce the phrase with:
  <input type="text" name="syllables" placeholder="eg. 10">
  <input class="button" type='submit' value='Submit Phrase'>
</form>


<h1>DICTIONARY</h1>
<ul>
  <% @dictionary.each do |phrase, syllables| %>
    <li>Phrase: "<%= phrase %>", Number of syllables: <%= syllables %></li>
    <form method='post' action='/remove_phrase'>
      <input class="button" type='submit' phrase_to_remove="<%= phrase %>" value="this button will in future allow the removal of words from the dictionary but right now it doesn't work">
    </form>
  <% end %>
</ul>


<h1>RANDOM HAIKU CREATED FROM DICTIONARY</h1>
<ul>
  <% @haiku.each do |line| %>
    <li> <%= line %> </li>
  <% end %>
</ul>

<h1>CUSTOM LINE STRUCTURE</h1>
<form method='post' action='/add_line'>
  <input type="text" name="new_line_length" placeholder="just a number please">
  <input class="button" type='submit' value='Add line'>
</form>
<ul>
  <% @user_lines.each do |line| %>
    <li> <%= line %> </li>
  <% end %>
</ul>
<form method='post' action='/reset_line_structure'>
  <input class="button" type='submit' value='clear line structure'>
</form>
